@model GestorDeGastos.Models.Usuario

@{
    ViewData["Title"] = "Editar Usuario";
}

<h1>Editar Usuario</h1>

<hr />
<div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-4">
        <form asp-action="EditarUsuario">
            <div asp-validation-summary="ModelOnly" class="alert-warning"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="NombreUsuario" class="control-label">Nombre de Usuario</label>
                <input asp-for="NombreUsuario" class="form-control" readonly />
                <span asp-validation-for="NombreUsuario" class="alert-warning"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Contraseña" class="control-label">Nueva contraseña</label>
                <input asp-for="Contraseña" type="password" class="form-control" />
                <span asp-validation-for="Contraseña" class="alert-warning"></span>
            </div>
            <div class="form-group mb-5"">
                <label asp-for="RolId" class="control-label">Rol</label>
                <select asp-for="RolId" class="form-control" asp-items="ViewBag.RolId"></select>
                <span asp-validation-for="RolId" class="alert-warning"></span>
            </div>
            <div class="form-group d-flex justify-content-center align-items-center">
                <input type="submit" value="Editar" class="btn btn-primary mb-3" />
            </div>
        </form>
        <div class ="form-group d-flex justify-content-center align-items-center">
            <a asp-action="ListadoUsuarios" class="btn btn-secondary">Cancelar</a>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
