/* Fuente similar (Montserrat o similar sans-serif) */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F5F5;
    color: #333333;
    line-height: 1.6;
}

/* Títulos */
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #9A1C1E;
}

h2 {
    border-bottom: 2px solid #E0E0E0;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

/* Cards y formularios */
.card {
    background-color: #FFFFFF;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 25px;
    margin-bottom: 30px;
}

/* Botones */
.btn-primary{
    background-color: #9A1C1E;
    border: none;
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 4px;
    transition: background-color 0.3s;
}

    .btn-primary:hover {
        background-color: #7A1618;
    }

.btn-danger {
    background-color: #D32F2F;
    border: none;
}

/* BOTONES OUTLINE */
.btn-outline-primary {
    color: #9A1C1E; /* mismo rojo que tu primario */
    border: 2px solid #9A1C1E;
    background-color: transparent;
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 4px;
    transition: all 0.3s;
}

    .btn-outline-primary:hover,
    .btn-outline-primary:focus,
    .btn-check:checked + .btn-outline-primary {
        background-color: #9A1C1E; /* se rellena con tu primario */
        color: #fff; /* texto blanco */
        border-color: #9A1C1E;
    }

/* Estado activo (cuando está seleccionado en btn-check) */
.btn-check:active + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary {
    background-color: #7A1618; /* el hover que usas */
    color: #fff;
    border-color: #7A1618;
}

/* Tabla */
.table {
    background-color: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
    border-width: 1px;
}

    .table thead {
        background-color: #9A1C1E;
        color: white;

    }

    .table th {
        font-weight: 500;

    }

    .table tbody {
        border-width: 1px
    }

/* Inputs */
.form-control {
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: 10px;
}

    .form-control:focus {
        border-color: #9A1C1E;
        box-shadow: 0 0 0 0.2rem rgba(154, 28, 30, 0.25);
    }

/* Modal */
.modal-header {
    background-color: #9A1C1E;
    color: white;
    border-bottom: none;
}

.modal-footer {
    border-top: 1px solid #E0E0E0;
}
